In [2]:
import mysql.connector
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from matplotlib.animation import FuncAnimation
import sys
from IPython.display import HTML
from matplotlib import pyplot as plt
from celluloid import Camera
import plotly.graph_objects as go

import networkx as nx

from IPython.display import HTML
from matplotlib import pyplot as plt
from celluloid import Camera
import collections


import gensim
from gensim.utils import simple_preprocess
from gensim.parsing.preprocessing import STOPWORDS
from nltk.stem import WordNetLemmatizer, SnowballStemmer
from nltk.stem.porter import *
import numpy as np
np.random.seed(2018)
import nltk
import ast
from random import shuffle

In [3]:
emails_df = pd.read_csv('Data/emails_tokenized.csv')
employee_df = pd.read_csv('Data/employee_keywords.csv')
network_df = pd.read_csv('Data/network.csv')

In [ ]:
exec_list = ['CEO','President','Vice President']

In [6]:
emails_df = emails_df[~emails_df['token_subject'].isna()]

exec_list = ['CEO','President','Vice President']

job_count = collections.Counter()
for rank in emails_df['sender_level']:
    job_count[rank] +=1

In [7]:
employee_df

,Unnamed: 0,Unnamed: 0.1,eid,first_name,last_name,email_id,Unnamed: 0.1.1,name,job_rank,job_title,key_words
0,0,0,18,Lynn,Blair,lynn.blair@enron.com,108.0,Lynn Blair,NaN,NaN,"['fw', 'oneok', 'meeting', 'tw', 'nng', 'gas',..."
1,1,1,17,Mike,Grigsby,mike.grigsby@enron.com,126.0,Michael Grigsby,Manager,NaN,"['fw', 'west', 'meeting', 'desk', 'fundies', '..."
2,2,2,16,Michelle,Cash,michelle.cash@enron.com,123.0,Michelle Cash,NaN,NaN,"['fw', 'agreement', 'enron', 'employment', 'pr..."
3,3,3,15,Monika,Causholli,monika.causholli@enron.com,131.0,Monika Causholli,Employee,Analyst Risk Management,"['pulp', 'wrap', 'et', 'risi', 'foex', 'analys..."
4,4,4,14,Richard,Sanders,b..sanders@enron.com,12.0,Richard Sanders,Vice President,Enron WholeSale Services,"['fw', 'synchronization', 'log', 'litigation',..."
5,5,5,13,Marie,Heard,marie.heard@enron.com,110.0,Marie Heard,NaN,NaN,"['master', 'netting', 'agreement', 'isda', 'fw..."
6,6,6,12,Paul,Lucci,t..lucci@enron.com,175.0,Paul Lucci,Employee,NaN,"['fw', 'nothing', 'kennedy', 'tie', 'medicine'..."
7,7,7,11,Mark,Whitt,mark.whitt@enron.com,115.0,Mark Whitt,NaN,NaN,"['fw', 'huber', 'gas', 'western', 'project', '..."
8,8,8,10,Phillip,Allen,k..allen@enron.com,89.0,Philip Allen,Manager,NaN,"['nothing', 'fw', 'communication', 'attorney',..."
9,9,9,9,Stephanie,Panus,stephanie.panus@enron.com,163.0,Stephanie Panus,Employee,NaN,"['isda', 'inc', 'agreement', 'energy', 'master..."
10,10,10,8,Susan,Pereira,w..pereira@enron.com,183.0,Susan Pereira,Employee,NaN,"['wire', 'sonat', 'colonial', 'park', '195', '..."
11,11,11,7,Theresa,Staab,theresa.staab@enron.com,172.0,Theresa Staab,Employee,NaN,"['crestone', 'purchase', 'november', 'creek', ..."
12,12,12,6,Mark,Taylor,taylor@enron.com,NaN,NaN,NaN,NaN,"['fw', 'eol', 'isda', 'synchronization', 'log'..."
13,13,13,5,Richard,Ring,richard.ring@enron.com,145.0,Richard Ring,Employee,NaN,"['riverside', 'waste', 'fw', 'mgt', 'county', ..."
14,14,14,136,Stacy,Dickson,stacy.dickson@enron.com,161.0,Stacy Dickson,Employee,NaN,"['nui', 'agreement', 'firm', 'master', 'allegh..."
15,15,15,4,Teb,Lokey,teb.lokey@enron.com,171.0,Teb Lokey,Manager,Regulatory Affairs,"['fw', 'tw', 'devil', 'meeting', 'sun', '637',..."
16,16,16,3,Tracy,Geaccone,tracy.geaccone@enron.com,178.0,Tracy Geaccone,Employee,NaN,"['fw', '2002', 'plan', 'nothing', 'tw', 'revie..."
17,17,17,2,Kevin,Hyatt,kevin.hyatt@enron.com,95.0,Kevin Hyatt,Director,Pipeline Business,"['devil', 'sun', 'tw', 'bullets', 'fw', 'updat..."
18,18,18,1,Robert,Badeer,robert.badeer@enron.com,149.0,Robert Badeer,Director,NaN,"['badge', 'generators', 'whats', 'receipts', '..."
19,19,19,19,Lindy,Donoho,lindy.donoho@enron.com,103.0,Lindy Donoho,Employee,NaN,"['tw', 'socal', 'fw', 'capacity', 'plan', '200..."
20,20,20,20,Kimberly,Watson,kimberly.watson@enron.com,98.0,Kimberly Watson,NaN,NaN,"['fw', 'tw', 'bullets', 'questar', 'meeting', ..."
21,21,21,21,Keith,Holst,keith.holst@enron.com,93.0,Keith Holst,Director,NaN,"['west', 'rotation', 'desk', 'lon', 'uncertain..."
22,22,22,22,Joe,Quenet,joe.quenet@enron.com,76.0,Joe Quenet,Trader,NaN,"['nothing', 'weather', 'travel', 'ok', 'wanted..."
23,23,23,23,James,Steffes,d..steffes@enron.com,34.0,James Steffes,Vice President,Government Affairs,"['fw', 'enron', 'rto', 'ferc', 'meeting', 'et'..."
24,24,24,24,John,Forney,m..forney@enron.com,121.0,John Forney,Manager,Real time Trading Desk,"['frontera', 'ercot', 'fw', 'orrow', 'position..."
25,25,25,25,Jay,Reitmeyer,jay.reitmeyer@enron.com,62.0,Jay Reitmeyer,Employee,NaN,"['10', 'weather', 'fw', 'meeting', 'fundies', ..."
26,26,26,26,Frank,Ermis,frank.ermis@enron.com,47.0,Frank Ermis,Director,NaN,"['test', 'uct', 'lodi', 'eol', 'season', 'open..."
27,27,27,27,Elizabeth,Sager,elizabeth.sager@enron.com,38.0,Elizabeth Sager,Employee,NaN,"['meeting', 'draft', 'agreement', 'tva', 'eei'..."
28,28,28,28,Darrell,Schoolcraft,darrell.schoolcraft@enron.com,25.0,Darrell Schoolcraft,NaN,NaN,"['fw', 'tw', '00', 'sept', 'estimate', 'gas', ..."
29,29,29,29,Danny,McCarty,danny.mccarty@enron.com,23.0,Danny McCarty,Vice President,NaN,"['request', 'route', 'approved', 'fw', 'approv..."
...,...,...,...,...,...,...,...,...,...,...,...
121,121,121,121,Robert,Benson,robert.benson@enron.com,150.0,Robert Benson,Director,NaN,"['running', 'firm', 'rob', 'one', 'stub', 'tow..."
122,122,122,122,Sally,Beck,sally.beck@enron.com,154.0,Sally Beck,Employee,Chief Operating Officer,"['meeting', 'fw', 'operations', 'enron', 'cong..."
123,123,123,123,Rick,Buy,rick.buy@enron.com,148.0,Rick Buy,Manager,Chief Risk Management Officer,"['fw', 'rac', 'credit', 'board', 'dash', 'meet..."
124,124,124,124,Don,Baughman,don.baughman@enron.com,32.0,Don Baughman,Trader,NaN,"['fw', 'hourly', 'new', 'jr', 'epmi', 'du', 'b..."
125,125,125,125,Eric,Bass,eric.bass@enron.com,39.0,Eric Bass,Trader,NaN,"['nothing', 'game', 'fw', 'football', 'tonight..."
126,126,126,126,Hunter,Shively,s..shively@enron.com,160.0,Hunter Shively,Vice President,NaN,"['fw', 'central', 'postings', 'ran', 'region',..."
127,127,127,127,Kenneth,Lay,kenneth.lay@enron.com,94.0,Kenneth Lay,CEO,NaN,"['associate', 'program', 'analyst', 'executive..."
128,128,128,128,Kam,Keiser,kam.keiser@enron.com,90.0,Kam Keiser,Employee,NaN,"['west', 'book', 'new', 'books', 'trv', 'fw', ..."
129,129,129,129,Jeffrey,Skilling,jeff.skilling@enron.com,67.0,Jeffery Skilling,CEO,NaN,"['murdock', 'jerry', 'attend', 'telephone', 's..."
130,130,130,130,Sean,Crandall,sean.crandall@enron.com,NaN,NaN,NaN,NaN,"['northwest', 'book', 'business', 'uct', 'ttc'..."
131,131,131,131,Ryan,Slinger,ryan.slinger@enron.com,153.0,Ryan Slinger,Trader,NaN,"['01', 'schedule', 'realtime', 'length', 'new'..."
132,132,132,132,Mike,Swerzbin,mike.swerzbin@enron.com,129.0,Mike Swerzbin,Trader,NaN,"['fw', 'lucas', 'melia', 'driver', 'office', '..."
133,133,133,133,Diana,Scholtes,diana.scholtes@enron.com,30.0,Diana Scholtes,Trader,NaN,"['fw', 'tag', 'oasis', 'detail', 'ncpa', 'shas..."
134,134,134,134,Craig,Dean,craig.dean@enron.com,20.0,Craig Dean,Trader,NaN,"['carl', 'real', 'model', 'fw', 'url', 'hey', ..."
135,135,135,135,Bill,Williams,bill.williams@enron.com,9.0,NaN,NaN,NaN,"['new', 'paths', 'length', 'abb', 'cuts', 'tim..."
136,136,136,137,Drew,Fossum,drew.fossum@enron.com,33.0,Drew Fossum,Vice President,NaN,"['tw', 'gallup', 'pueblo', 'request', 'approva..."
137,137,137,138,Mark,Guzman,mark.guzman@enron.com,NaN,NaN,NaN,NaN,"['outage', 'bpa', 'account', 'voice', 'numbers..."
138,138,138,139,Mary,Hain,mary.hain@enron.com,NaN,NaN,NaN,NaN,"['ferc', 'iso', 'px', 'california', 'order', '..."
139,139,139,140,Lysa,Akin,lysa.akin@enron.com,NaN,NaN,NaN,NaN,"['ferc', 'meeting', 'nov', '15th', 'friday', '..."
140,140,140,141,Steven,Harris,steven.harris@enron.com,NaN,NaN,NaN,NaN,"['tw', 'fw', 'amarillo', 'gas', 'season', 'ope..."
141,141,141,142,Dan,Hyvl,dan.hyvl@enron.com,22.0,Dan Hyvl,Employee,NaN,"['agreement', 'contract', 'enfolio', 'fw', 'cr..."
142,142,142,143,Eric,Linder,eric.linder@enron.com,NaN,NaN,NaN,NaN,"['eddie', 'wheel', 'reliability', 'tie', '06',..."
143,143,143,144,Steven,Merris,steven.merris@enron.com,NaN,NaN,NaN,NaN,"['cers', 'status', 'trading', 'oz', 'owls', 'o..."
144,144,144,145,Robin,Rodrigue,robin.rodrigue@enron.com,NaN,NaN,NaN,NaN,"['var', 'nothing', 'ps', 'positions', 'book', ..."
145,145,145,146,Steven,South,steven.south@enron.com,165.0,NaN,NaN,NaN,"['packers', 'bc', 'barrett', 'tmas', 'gas', 'a..."
146,146,146,147,Carol,Clair,carol.clair@enron.com,NaN,NaN,NaN,NaN,"['isda', 'enron', 'guaranty', 'eta', 'agreemen..."
147,147,147,148,Chris,Stokley,chris.stokley@enron.com,NaN,NaN,NaN,NaN,"['farewell', 'na', 'son', 'getting', 'epmi', '..."
148,148,148,149,Kate,Symes,kate.symes@enron.com,91.0,Kate Symes,Employee,NaN,"['checkout', 'deal', 'apb', '01', 'deals', 'na..."
149,149,149,150,Liz,Taylor,liz.taylor@enron.com,105.0,NaN,NaN,NaN,"['cst', '06980', 'trader', 'meeting', 'rm', 'c..."
150,150,150,151,Rosalee,Fleming,rosalee.fleming@enron.com,NaN,NaN,NaN,NaN,"['meeting', 'thank', 'remove', 'board', 'commi..."